.container {
    max-width: 85vw;
    margin: 40px auto;
    padding: 20px;
    margin-left: 5vw;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .search-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .search-bar input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
  }
  
  .search-bar button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background: #0056b3;
  }
  
  .table-wrapper {
    overflow-x: auto;
  }
  
  table {
    width: 80vw;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th,
  td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f1f1f1;
    width: 100px;
  }
  
  tr:hover {
    background-color: #f9f9f9;
  }
  

  .no-results{
    /* text-align: center; */
    font-size: 18px;
    color: #572121;
    margin-top: 20px;
  }

  .tableLink{
    text-decoration: none ;
    color: black;
    cursor: pointer;
    border: none;

  }
